body {
    padding:0;
    margin:0;
    display:flex;
    flex-direction: column;
    flex:auto;
    

}
h1{
   margin-right: 20px;
}

.header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right:50px;
    color: white;
}

h2{
    font-weight: 48px;
    color: white;
}

.headitems{
    display:flex;
    justify-content:flex-end;
}

.content {
    
    display:flex;
    flex-direction: row;
    gap: 20px;
    color:white;
    padding: 50px
}

.topbackground{
    background-color: #1F2937;
    padding-bottom: 30px;

}

.left{
    max-width: 50%;
}

.right {
    padding-right: 20px;
    max-width: 50%;
}

button{
    background-color: #3882f6;
    border-radius: 10px;
    padding:7px;
    padding-right: 10px;
    padding-left:10px;
    color: white;
    border-color: white ;
}

.bottombackground{
    background-color:white;
    display:flex;
    justify-content: center;
    padding:0;
    margin:20px;
    gap:20px;
    padding-top: 20px;
    flex-wrap: wrap;
    
}

h2{
    display:flex;
    justify-content: center;
    color:white;
    font-size: 48px;
    font-weight: bolder;


}

.cards{
    display:flex;
    flex-direction: column;
    margin: 20px;
}

.boxes{
    display:flex;
    border-radius: 2px;
    border-style: solid;
    width: 200px ;
    height: 200px ;
    border-radius: 10px;
    border-color: #3882f6;
    
}

.texts{
    display:flex;
    color: green;
    justify-content: center;
}

.someinfo{
    display:flex;
    padding: 10px;
    flex-direction: column;
    width: 600px;

}

#name{
    display:flex;
    justify-content: end;
    font-weight: bold;
    font-size: 20px
}

.quotez{
    display:flex;
    justify-content: center;
    font-size:36px;

}

.boxblue{
    background-color: #3882f6;
    width:700px ;
    display:flex;
    justify-content: space-between;
    margin: 20px;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
    padding-left: 40px;
    padding-right:40px;
}

h3{
    display:flex;
    justify-content: center;
    color:black;
    font-size: 48px;
    font-weight: bolder;
}

.border{
    display:flex;
    justify-content: center;
}

.footer{
    display:flex;
    justify-content: center;
    background-color: #1F2937;
    color:white;
    padding: 30px;

}